<h1>Agent Home</h1>
<form class="login-form" method="post" action="/agent/generate-token">
    <h1>New Token</h1>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" id="staticEmail" name="name">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Purpose</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" id="staticEmail" name="purpose">
        </div>
    </div>
    <p style="text-align: center">
        <input class="btn btn-primary" type="submit" value="Generate">
    </p>
</form>

