<h1>Officer Home</h1>
<div class="container">
    <table id="token-list" class="table table-striped table-bordered"></table>
</div>

<script>
    const tableCol = [{label: 'SNo.'}, {label: 'Name', value: 'name'}, {label: 'Purpose', value: 'purpose'}];
    getAllTableData();
    const socket = io();
    socket.on("changeDisplay", function () {
        getAllTableData();
    });

    function getAllTableData() {
        const request = new XMLHttpRequest();
        request.open("GET", "http://localhost:3000/officer/get-all-tokens");
        request.send();
        request.onload = function () {
            const data = JSON.parse(request.response);
            generateTable(data);
        };
    }

    function generateTableHeaders() {
        const table = document.getElementById("token-list");
        table.innerHTML = '';
        const headRow = document.createElement("tr");
        for (let eachTableCol in tableCol) {
            const cell = document.createElement("th");
            const cellText = document.createTextNode(tableCol[eachTableCol].label);
            cell.appendChild(cellText);
            headRow.appendChild(cell);
        }
        const cell = document.createElement("th");
        cell.innerHTML = 'Operation'
        headRow.appendChild(cell);
        table.appendChild(headRow);

        const tblBody = document.createElement("tbody");
        table.appendChild(tblBody);
    }

    function generateTable(tableData) {
        generateTableHeaders();
        // get the reference for the body
        const table = document.getElementById("token-list");

        const tblBody = document.createElement("tbody");

        // creating all cells
        for (let i in tableData) {
            // creates a table row
            const row = document.createElement("tr");

            for (let j in tableCol) {
                // Create a <td> element and a text node, make the text
                // node the contents of the <td>, and put the <td> at
                // the end of the table row
                let value;
                if (tableCol[j].label === 'SNo.') {
                    value = Number(i) + 1;
                } else {
                    value = tableData[i][tableCol[j].value];
                }
                const cell = document.createElement("td");
                const cellText = document.createTextNode(value);
                cell.appendChild(cellText);
                row.appendChild(cell);
            }
            const cell = document.createElement("td");
            const link = `/officer/select-token/${tableData[i]._id}`;
            cell.innerHTML = '<a href="'+ link+'">Select Token</a>';
            row.appendChild(cell);

            // add the row to the end of the table body
            tblBody.appendChild(row);
        }

        // put the <tbody> in the <table>
        table.appendChild(tblBody);

        // sets the border attribute of tbl to 2;
        // thead.setAttribute("border", "2");
    }
</script>
