<h1>{{Message}}</h1>
<form method="post" action="/users/register">
    <h1 style="text-align: center">User Registration</h1>
    <h5>{{message}}</h5>
    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="role" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-10">
            <select class="form-control" name="role" id="role">
                <option value="officer">Officer</option>
                <option value="agent">Agent</option>
                <option value="display">Display</option>
            </select>
        </div>
    </div>
    <p style="text-align: center">
        <input class="btn btn-primary" type="submit" value="Register">
    </p>
</form>
